body{
    background-color: black;
    color: white;
}
/*header*/
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.menubar
{
  
    background: rgb(43, 7, 25);
    padding: 5px;
    
   
}
a
{
    color: white;
}
.logostyle
{
    margin-top: 10px;
    padding: 7px;
}
.logo
{
    position: relative;

    padding: 10px;
    font-size: 25px;
    font-family: 'Brush Script MT',cursive;
    background-color: white;
    color: black;
    border-radius: 80%;
}
nav ul
{
    margin-left: 500px;
    margin-bottom: 7px;
    
}
nav ul li
{
    display: inline-block;
    margin-left: 10px;
    font-size: 20px;
   
}
.nav1 .ul1
{
    margin-left: 80%;  
    margin-bottom: 10px;
    margin-top: 10px;
}
.nav1 .ul1 .li1
{
    display: inline-block;
    font-size: 17px;
}
.nav1 .ul1 .active
{
    display: inline-block;
    font-size: 17px;
}
a.active,a:hover
{
    background: white;
    color: black;
    transition: .5s;
}
/*part*/
.part1
{
    display: flex;
    margin: 10px;
    padding: 10px;
}
.part2
{
    display: flex;
    margin: 10px;
    padding: 10px;
}
.box1
{
    margin: 10px;
    margin-left: 70px;
    padding: 10px;
}
.box2
{
    margin: 10px;
    padding: 10px;
}
.box3
{
    margin: 10px;
    padding: 10px;
}

.summary
{
    padding: 10px;
    margin: 10px;
}

table tr td{
    padding: 5px;
    margin: 5px;
}
/*footer*/
.footer
{
  display: flex;
}
.index1
{
    margin-left: 300px;
    padding: 20px;
    color: white;
}
.flist
{
    color: white;
}
.Contact
{
  margin-left: 400px;
  padding: 20px;
  color: white;
}
.Copyright
{
background-color: rgb(43, 7, 25);
color: white;
padding: 50px;
text-align: center;
}
.flist:hover
{
background-color: black;
color: white;
}
.f1h2
{
    color: rgb(255, 208, 0);
}